.bottommenu {
    z-index: 2;
    position: absolute;
    margin-top: -150px;
    margin-left: -7px;

}

.bottommenu li {
    display: inline-block;
    font-size: 22px;
    font-family: 'bpg_nino_bold';
    margin-left: 20px;
}

