.post {
width: 50%;
display: inline-block;
padding: 30px;
transition: 0.5s;




}


.category {
color:white;
display: inline-block;
font-family: 'bpg_nino';
margin-top: 30px;
    
}
.headline {
    color: white;
    width: 100%;
    display: inline-block;
    word-wrap:break-word;
    font-family: 'bpg_nino_bold';
    font-size: 18px;
    transition: 0.3s;
    min-height: 95px;
    
   }
   .headline:hover {
       opacity: 0.6;
   }

  

.excerpt {
    color:grey;
    word-wrap:break-word;
    font-family:'bpg_arial';
    font-size:18px;
    text-decoration: none;
    min-height: 200px;

}
.clock {
height: 20px;
margin-top: -8px;
    }
.minutes {
    color: white;
    margin-left: 10px;
    font-size: 18px;
}
.reading {
    color: white;
    font-family: 'bpg_nino';
    text-decoration: none;
}

@media screen and (max-width: 1200px) and (min-width:992px) {
.post {
    width: 100%;
}
}
@media screen and (max-width: 700px) {
    .post {
        width: 100%;
    }

}