.searchpage {
    margin-top: -105vh;
    height: 105vh;
    z-index: -1;
    background-color: white;
    position: relative;
    transition: 1s;
    
    
     }

    .searchInput {
        position: relative;
        margin: auto;
        margin-top: 250px;
        width: 70%;
       display: flex;
       justify-content: space-between;
       
        
    }
    .input {
        border:none;
        color: #b1afaf;

        font-size: 36px;
        font-family: 'bpg_nino';
        width: 100%;
    }
    .input:focus {
        outline: none;
    }
    .cross {
        display: inline-block;
        position: relative;
        font-size: 34px;
        margin-top: -3px;
        
        
}

.cross a {
    color: #1c1c1c;
    text-decoration: none;
    width: 20%;
}

    .form {
        display: inline-block;
        width: 100%;
        
    }
    .line {
        display: block;
        width: 70%;
        margin: auto;
        margin-top: -240px;
       
        
    }
    form button {
        margin-bottom: 60px;
        border-radius: 5px;
        width: 140px;
    }
    @media screen and (max-width: 800px) and (min-width:400px) {
      .searchpage {
      height: 105vh;
      margin-top: -105vh;
}

.searchInput {
    margin-top: 200px;
}
        }