.row {
  height: 100vh;
}
@font-face {
  font-family: 'bpg_nino';
  src: url('/src/assets/fonts/bpg_nino.ttf');
}

@font-face {
  font-family: 'bpg_nino_bold';
  src:url('/src/assets/fonts/bpg-nino-mtavruli-bold-webfont.ttf')
}

@font-face {
  font-family: 'bpg_arial_caps';
  src:url('/src/assets/fonts/bpg-arial-caps-webfont.ttf')
}